<footer>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="../static/img/elherbario_logo.svg" alt="" class="img-fluid w-100">
                <p>
                    Dirección: nos encuentras en calle 71 #58-102 local 202 cerca a centro comercial platino
                </p>
                <p>
                    Horarios: Lunes a sábado de 12:00pm a 3:00pm y de 6:00pm a 11:00pm
                </p>
                <p>
                    Telefono: (604) 6021393
                </p>
                <p>
                    Whatsapp: (301)5206557
                </p>
                <i class="bi bi-facebook fs-1"></i>
                <i class="bi bi-instagram fs-1 ms-2"></i>
            </div>
            <div class="col-12 col-md-8">
                <iframe src="https://https://www.google.com/maps/place/Ciudadela+del+Parque+Arquitectura+y+Concreto+-+Sala+de+ventas/@6.1880247,-75.5988346,15z/data=!4m5!3m4!1s0x0:0xf1736c37f975edb0!8m2!3d6.1880161!4d-75.598817" class="w-100 h-100" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</footer>